body{
    margin: 0;
    padding: 0;
}

.container{
width: 70%;
margin: auto;
}

.icon-area ul{
list-style: none;
margin-top: p0px;
}

.icon-area ul li{
    display: inline-block;
}

.icon-area ul li a{
    background: hotpink;
    color: #fff;
    padding: 30px 40px;
    display: block;
    font-size: 20px;
    border-radius: 10px;

}

.icon-area ul li a:hover{
    background: indigo;
    color: black;
    border-radius: 50%;
}